@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* import different css style and other utilities */

body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* .........influencer-section-style..............  */

#intro {
  font-size: 24px;
  padding-left: 10px;
  margin-left: 0%;
}

.container {
  width: 1120px;
  padding: 30px;
  margin: 0 auto;
}
.influencer-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 100px;
}

.influencer-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}
.introduction {
  font-size: 52px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.my-role {
  font-size: 16px;
  width: 505px;
  height: 150px;
}
.button-design {
  display: flex;
  align-items: center;
}

.button {
  background-color: #e02c6d;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 24px 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0%;
}

.fa-arrow-right.side {
  color: rgb(224, 218, 218);
  padding-left: 10px;
}
.photo-box {
  display: flex;
  align-items: center;
}
.photo-box img {
  width: 100%;
}
/*.................... popular collection css start..................... */

/* .products-container {
  margin-top: 100px;
} */

#title {
  margin-top: 0%;
  font-size: 30px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 30px;
  /* padding: 0px 170px 0px 170px; */
  margin-bottom: 0%;
}

.product .product-image img {
  width: 100%;
}

.product {
  position: relative;
  padding: 20px;
  margin-top: 0%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0.75rem 0.75rem 0.75rem rgba(65, 63, 57, 0.63));
}

.product .product-image:hover {
  transform: scale(1.4) rotate(360deg);
  transition: transform 2s ease-in-out;
}

.product-title {
  font-size: 28px;
  margin: 0%;
}

#amount {
  font-size: 24px;
  margin: 0%;
}

/* .product-info p {
  padding: 0%;
  margin: 0%;
} */

.fa-star.filled {
  color: #fb8200;
}

.fa-star-half-alt {
  color: #fb8200;
}

.product-info p {
  font-size: 14px;
  margin: 0%;
  padding: 0%;
}

.see-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  margin-top: 0%;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
}

.fa-arrow-right {
  color: #e02c6d;
}

/*////////////////////// fearture-product/////////////// */

.feature-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 100px 0;
}

.feature-product .feature-image img {
  width: 80%;
  border-radius: 10px;
}
.feature-article {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.feature-news {
  font-size: 32px;
  margin: 10px 0;
}
#feature-details {
  font-size: 16px;
  margin: 10px 0;
}

/* footer */
footer {
  width: 100%;
  color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  background-color: rgb(0, 0, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #footer-info {
  padding: 0%;
  margin: 0%;
}

.footer-paragaraph {
  padding: 0%;
  margin: 0%;
} */

/* .social-icons i {
  padding: 0%;
  margin: 0%;
} */

/* .footer-items {
  color: white;
  width: 100%;
  height: 180px;
  background-color: rgb(0, 0, 46);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.social-icons {
  width: 114px;
  display: flex;
  justify-content: space-between;
}

/*...................... media queries...................... */

/* mobile devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 80% !important;
  }
  .my-role {
    width: auto;
  }
  .button-design {
    margin-top: 50px;
  }
  .influencer-box {
    grid-template-columns: 1fr;
  }
  .products {
    grid-template-columns: 1fr;
  }
  .feature-product {
    grid-template-columns: 1fr;
  }
}
